@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --green: #27ae60;
    --green-light: #2fd274;
    --green-icon: #2cc56d;
    --grey-light: #c4c3ca;
    --backround-black: #1f2029;
    --backround-hover: #3a3b4d;
}

body{
    font-weight: 300;
    font-size: 15px;
    line-height: 1.7;
    color: #000000;
    background-image: url('../photoDino/dino_dun_4K.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow-x: hidden;
}
.a {
    cursor: pointer;
    transition: all 200ms linear;
}
.a:hover {
    text-decoration: none;
}
h4 {
    font-weight: 600;
}
.section{
    height: 100%;
    width: 100%;
    display: flex;
}
.full-height{
    min-height: 100vh;
}
.load-box {
    width: 100%;
    display: flex;
    justify-content: center;
}

.load-h4 {
    position: relative;
    font-size: 2.5em;
    margin: 0 0 0 0;
    left: 0;
    font-family: 'Kanit', sans-serif;
}
.logOut {
    cursor: pointer;
    font-size: 1.5em;
    margin: 5px 0 0 55%;
    /*right: 0;*/
    font-family: 'Kanit', sans-serif;
}
.card-3d-wrapper {
    display: inline-table;
    width: 100%;
    height: 100%;
    margin: 5px;
    top: 0;
    left: 0;
}
.create {
    width: 100%;
    height: 100%;
    margin: 5px;
    top: 0;
    left: 0;
}
.books-front {
    width: 100%;
    height: 95%;
    /*display: inline;*/
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 300%;
    backdrop-filter: blur(7px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    margin: 5px;
    left: 0;
    top: 0;

}
.pagination {
    width: 100%;
    height: 5%;
    display: flex;
    backdrop-filter: blur(7px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin: 5px;
    left: 0;
    top: 0;
}
.pag-block {
    height: 35px;
    width: 4.5%;
    backdrop-filter: blur(7px);
    background-color: var(--backround-black);
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.pag-block a {
    width: 10%;
    height: 100%;
    font-size: 20px;
    font-weight: 600;
    color: var(--green);
}
.create-book {
    width: 100%;
    height: 101%;
    display: inline-block;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 300%;
    backdrop-filter: blur(7px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    margin: 5px;
    left: 0;
    top: 0;

}
.book-front{
    width: 100%;
    height: 9.5%;
    display: flex;
    border-radius: 15px;
    background-color: var(--backround-black);
    border-style: dashed;
    border-width: 2px;
    border-color: var(--green-light);
    margin: 2px;
    /*padding: 0 35px;*/
    /*top: 50%;*/
    left: 0;
    /*transform: translate3d(0, -50%, 35px) perspective(100px);*/
    z-index: 20;
    /*display: block;*/
}

.book-front img{
    width: 7.5%;
    height: 100%;
    margin-left: 15px;
    border-radius: 5px;
    border-style: dashed;
    border-width: 1px;
    border-color: var(--grey-light);
}
.book-front .book-info{
    width: 90%;
    height: 100%;
    display: flex;
    margin-left: 15px;
    border-radius: 5px;
}

/*img*/
.container {
    max-width: 250px;
    width: 100%;
    background: var(--backround-black);
    padding: 15px;
    /*padding-left: 30px;*/
    margin-left: 5px;
    border-radius: 30px;
    border-style: dashed;
    border-color: var(--green);
    border-width: 3px;
}
.form-icon {
    height: 100%;
    width: 20%;
    overflow: hidden;

    /*position: relative;*/
    border-radius: 10px;
    /*font-size: 15px;*/
    /*line-height: 22px;*/
    font-size: 0;
    /*letter-spacing: .3px;*/
    /*margin-right: 1px;*/
    outline: none;
    background-color: var(--backround-black);
    border-style: dashed;
    border-width: 1px;
    border-color: var(--grey-light);
    justify-content: center;
    align-items: center;
}
.form-icon .icon {
    color: var(--green);
    cursor: pointer;
    font-size: 40px;
}
.img-area {
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 80%;
    height: 240px;
    margin-bottom: 30px;
    margin-left: 10%;
    /*border-radius: 15px;*/
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-area .icon {
    color: var(--green);
    font-size: 100px;
}
.img-area h3 {
    color: var(--green);
    font-size: 15px;
    font-weight: 500;
    /*margin-bottom: 6px;*/
}
.img-area p {
    color: #999;
}
.img-area p span {
    font-weight: 600;
}
.img-area img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 100;
}
.img-area::before {
    content: attr(data-img);
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 128px;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    font-weight: 500;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: all .3s ease;
    z-index: 200;
}
.img-area.active:hover::before {
    opacity: 1;
}
.select-image {
    display: block;
    width: 100%;
    padding: 16px 0;
    border-radius: 15px;
    background: var(--green);
    color: var(--backround-black);
    font-weight: 500;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
}
.select-image:hover {
    background: var(--green-light);
}

.form-group{
    position: relative;
    display: block;
    margin: 3px;
    padding: 0;
}
.input-group{
    position: relative;
    display: block;
    margin: 3px;
    padding: 0;
}
.form-style {
    padding: 13px 20px;
    padding-left: 55px;
    height: 48px;
    width: 100%;
    font-weight: 500;
    border-radius: 10px;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: .5px;
    outline: none;
    color: #949494;
    background-color: var(--backround-black);
    border: none;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.form-text {
    height: 100%;
    width: 20%;
    overflow: hidden;
    /*position: relative;*/
    border-radius: 10px;
    font-size: 15px;
    line-height: 22px;
    font-weight: 600;
    /*letter-spacing: .3px;*/
    margin-top: 0;
    margin-right: 1px;
    outline: none;
    background-color: var(--backround-black);
    color: var(--grey-light);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
    border-style: dashed;
    border-width: 1px;
    border-color: var(--grey-light);
}
.form-text h5 {
    font-size: 10px;
    /*line-height: 22px;*/
    text-overflow: initial;
    font-weight: 600;
    letter-spacing: 0;
}
.form-text h4 {
    font-size: 15px;
    /*line-height: 22px;*/
    text-overflow: initial;
    font-weight: 600;
    letter-spacing: 0;
}
.form-style:focus,
.form-style:active {
    border: none;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.input-icon {
    position: absolute;
    top: 0;
    left: 18px;
    height: 48px;
    font-size: 24px;
    line-height: 48px;
    text-align: left;
    color: var(--green-icon);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input:-ms-input-placeholder  {
    color: var(--grey-light);
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input::-moz-placeholder  {
    color: var(--grey-light);
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:-moz-placeholder  {
    color: var(--grey-light);
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input::-webkit-input-placeholder  {
    color: var(--grey-light);
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus:-ms-input-placeholder  {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus::-moz-placeholder  {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus:-moz-placeholder  {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus::-webkit-input-placeholder  {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.btn{
    border-radius: 4px;
    height: 44px;
    font-size: 13px;
    font-weight: 600;
    -webkit-transition : all 200ms linear;
    transition: all 200ms linear;
    padding: 0 30px;
    /*margin-bottom: 100px;*/
    letter-spacing: 1px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    border: none;
    /*1f2029*/
    background-color: var(--backround-black);
    color: var(--green);
    box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
}
.btn:active,
.btn:focus{
    background-color: var(--backround-hover);
    color: var(--green-light);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.btn:hover{
    background-color: var(--backround-hover);
    color: var(--green-light);
    box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}